.wrap {
  width: 1280px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.flex {
  display: flex;
  /* outline: 5px solid yellow; */
  align-items:center;
  justify-content:center;
}

.outside-box {
  position: absolute;
  right: 180px;
  width: 540px;
  height: 800px;
}

.outside-flex-size {
  /* outline: 10px solid orange; */
  display: flex;
  width: 540px;
  height: 800px;
}

.left-content {
  width: 830px;
  height: 800px;
  background-color: #FFEDF7;
  padding: 48px 0px 48px 85px; 

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.add-misson-box {
  display: flex;
  justify-content: flex-start;
  padding: 19px 16px;
  width: 445px;
  height: 56px;
  background-color: white;
}

.mission-input {
  background-color: white; 
  width: 389px;
  height: 24px;
  color: #FF4384;
  font-family: Roboto;
  font-size: 16px;
  line-height: 19px;
  border: none;
}

::placeholder {
  color: #FF4384;
  font-family: Roboto;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  font-style: italic;
}

.add-misson-box button {
  width: 24px;
  height: 24px;
  border: 0;
  color: #FF4384;
  font-size: 18px;
  font-weight: bold;
}

.middle-box {
  display: flex;
  justify-content: flex-start;
  height: 220px;
  flex-wrap: wrap;
  width: 454px;
  /* outline: 2px solid green; */
}

.left-circle {
  margin-right: 16px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #003164;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  color: #003164;
  font-size: 24px;
  font-family: Roboto;
  font-weight: bold;
  line-height: 28px;
  /* outline: 2px solid orange; */
}

.circle-progress-bar {
  display: flex;
  justify-content: space-between;
}

.circle-progress {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #FF4384;
}

.time {
  width: 454px;
  height: 206px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 170px;
  text-align: center;
  line-height: 176px;
  color: #FF4384;
  /* outline: 2px solid yellow; */
}

.mission-list {
  display: flex;
  flex-direction: column;
  width: 445px;
  /* outline: 2px solid green; */
}

.mission {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(0, 49, 100, 0.2);
  padding-bottom: 10px;
  margin-bottom: 12px;
  /* outline: 2px solid yellow; */
}

.mission-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #003164;
  margin-right: 4px;
}

.mission-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #003164;
  margin-right: auto;
}

.mission-more-margin {
  margin-bottom: 9px;
}

.more {
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #FF4384;
  text-align: right;
}

.right-content {
  width: 450px;
  height: 800px;
  background-color: #003164;
  padding: 48px 85px 48px 0; 
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* outline: 2px solid green; */
}

.outside-circle {
  width: 540px;
  height: 540px;
  border-radius: 50%;
  border: 4px solid #FF4384;
}

.middle-circle {
  width: 500px;
  height: 500px;
  background-color: #FF4384;
  border-radius: 50%;
  position: absolute;
}

.middle-circle-white {
  background-color: white;
  border: 4px solid #FF4384;
}

.play-arrow {
  color: rgba(255, 255, 255, 1);
  font-size: 96px;
}

.on-pause {
  font-size: 96px;
  color: #FF4384;
}

.play-arrow-relative {
  position: relative;
  /* outline: 2px solid green; */
  height: 96px;
  width: 96px;
}

.little-circle {
  width: 24px;
  height: 24px;
  background-color: white;
  border: 5px solid #FF4384;
  position: absolute;
  bottom: 4px;
  right: -25px;
}

.little-circle-on-pause {
  background-color: #FF4384;
  border: 5px solid white;
}

.menu-list {
  width: 36px;
  height: 204px;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
}

.menu-icon {
  font-size: 36px;
  color: rgba(255, 255, 255, 1);
}

.slogan {
  width: 31px;
  height: 31px;
  color: white;
  font-family: Futura;
  font-size: 24px;
  font-weight: bold;
  /* outline: 2px solid green; */
  transform:rotate(90deg);
  display: flex;
  transform-origin: 12px 12px;
  margin-top: 335px;
}
