.wrap {
  width: 1280px;
  height: auto;
  margin: 0 auto;
}

.flex {
  display: flex;
  /* outline: 1px solid yellow; */
  align-items:center;
  justify-content:center;
}

.outside-box {
  position: absolute;
  right: 180px;
  width: 540px;
  height: 800px;
}

.outside-flex-size {
  /* outline: 10px solid orange; */
  display: flex;
  width: 540px;
  height: 800px;
}

.left-content {
  width: 830px;
  height: 800px;
  background-color: #FFEDF7;
}

.right-content {
  width: 450px;
  height: 800px;
  background-color: #003164;
}

.outside-circle {
  width: 540px;
  height: 540px;
  border-radius: 50%;
  border: 10px solid #FF4384;
}

.middle-circle {
  width: 500px;
  height: 500px;
  background-color: #FF4384;
  border-radius: 50%;
}

.play-arrow {
  color: rgba(255, 255, 255, 1);
  font-size: 96px;
}

.play-arrow-relative {
  position: relative;
  /* outline: 2px solid green; */
  height: 96px;
  width: 96px;
}

.little-circle {
  width: 24px;
  height: 24px;
  background-color: white;
  border: 5px solid #FF4384;
  position: absolute;
  bottom: 4px;
  right: -25px;
}

.menu-list {
  width: 36px;
  height: 252px;
  position: absolute;
  right: 85px;
  top: 48px;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
}

.menu-relative {
  position: relative;
  width: 450px;
  height: 800px;
}

.menu-icon {
  font-size: 36px;
  color: rgba(255, 255, 255, 1);
}

.slogan {
  width: 165px;
  height: 31px;
  position: absolute;
  right: 25px;
  bottom: 110px;
  color: white;
  font-family: Futura;
  font-size: 24px;
  font-weight: bold;
  /* outline: 2px solid green; */
  transform:rotate(90deg);

}
