.flex-container {
  display: flex;
  align-items:center;
  justify-content:center;
  /* border: 2px solid red; */
  width: 1280px;
  height: auto;
}

.left-content {
  width: 830px;
  height: 800px;
  background-color: #FFEDF7;
}

.right-content {
  width: 450px;
  height: 800px;
 background-color: #003164;
}

.outside-circle {
  width: 540px;
  height: 540px;
  border-radius: 50%;
  margin-left: -280px;
  margin-top: 33.33%;
  border: 10px solid #FF4384;
}

.middle-circle {
  width: 500px;
  height: 500px;
  background-color: #FF4384;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 10px;
  position: relative;
}

.work-circle {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  top: 202px;
  left: 202px;
}

.play-arrow {
  color: #FF4384;
  font-size: 48px;
  position: absolute;
  top: 25px;
  left: 25px;
}

.little-circle {
  width: 24px;
  height: 24px;
  background-color: white;
  position: absolute;
  top: 274px;
  right: 178px;
  border: 5px solid #FF4384;
}